/* Reset margin cho tất cả phần tử */
* {
    margin: 0;
  }
  
  body {
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Đặt font */
    padding: 0; /* Xóa padding của body */
    padding-top: 80px; /* Đảm bảo nội dung không bị che khuất bởi navbar */
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 1px 3px -2px black;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;  /* Đảm bảo navbar luôn ở trên cùng */
    left: 0; /* Đảm bảo navbar chiếm toàn bộ chiều rộng */
    margin-top: 0; /* Đảm bảo không có khoảng cách trên */
  }
  
  /* Logo */
  .nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .nav-logo p {
    color: #171717;
    font-size: 38px;
    font-weight: 600;
  }
  
  /* Menu */
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
  }
  
  .nav-menu li a {
    color: #171717;
    font-weight: 600;
    text-decoration: none;
  }
  
  .nav-menu li a:hover {
    color: #FF4141;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
  }
  
  .nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
  }
  
  /* Login and Cart */
  .nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
  }
  
  .nav-login-cart button {
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .nav-login-cart button:hover {
    background: #FF4141;
    color: white;
    border-color: #FF4141;
  }
  
  .nav-login-cart button:active {
    background: #f3f3f3;
  }
  
  .nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-left: -30px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
  
    .nav-menu {
      flex-direction: column;
      gap: 20px;
    }
  
    .nav-login-cart {
      flex-direction: column;
      gap: 20px;
    }
  
    .nav-login-cart button {
      width: 100%;
      max-width: 300px;
    }
  }
  